* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #3366ffff;
    --grey: #4d4d44;
    --violet: #ff1aff;
}

html {
    background-color: #000;
}

.bg-body {
    height: 100vh;
    background-image: url(../media/img/bg_body_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-align: center;
}

.tittle {
    margin: 4rem auto 1rem auto;
}

a {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-decoration: none;
}

p {
    color: #fff;
}

/* Lo que sigue falta */

/*section {
    height: 700px;
}*/

.footer {
    margin: 1rem 0;
    text-align: center;
    background: none;
}




.flex-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    width: 88%;
    border: 2px solid #fff;
    border-radius: 35px;
}

.flex-container p {
    line-height: 1.5rem;
    letter-spacing: 0.3rem;
    text-align: justify;
}

.grid-container {
    display: grid;
    width: 88%;
    border: 2px solid #fff;
    border-radius: 35px;
}

.more-btn {
    margin: 1rem auto;
    padding: 0.5rem 1.7rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    border-radius: 45px;
}

/* lo que sigue ya está*/

/*--------------------- MEDIA QUERIES---------------------*/

@media screen and (min-width: 768px) {
    
    /*INTRO*/
    .big-tittle {
        font-size: 4rem;
        letter-spacing: 0.5rem;
    }

    .subtittle {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

    /*CONTACT*/
    .tittle {
        font-size: 3rem;
        letter-spacing: 0.5rem;
        margin-bottom: 3rem;
    }

    input, textarea {
        width: 400px;
    }

    /*MENU*/

    .upper-header {
        display: flex;
        height: 80px;
        justify-content: space-between;
    }

    .social-media {
        display: none;
    }

    .social-media-up {
        display: flex;
    }

    .icon {
        height: 50px;
        width: 50px;
    }

    #down-header {
        top: 7%;
        height: 165px;
    }

    .container-lang {
        margin: 2rem 0 1rem 0;
    }

    nav ul{
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li {
        margin: 0;
    }

    .menu-btn {
        font-size: 2rem;
    }

}

@media screen and (min-width: 1024px) {
    .big-tittle {
        font-size: 5rem;
        letter-spacing: 1rem;
    }

    .contact-main {
        height: auto;
    }

    .tittle {
        margin-top: 15rem;
        font-size: 4.5rem;
        letter-spacing: 1rem;
    }

    .contact-footer {
        position: relative;
    }
}

@media screen and (min-width: 1280px) {
    .big-tittle {
        font-size: 6.5rem;
        letter-spacing: 1rem;
    }
}
