* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #3366ffff;
    --grey: #4d4d44;
    --violet: #ff1aff;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-align: center;
}

.tittle {
    margin: 5rem auto 1rem auto;
}

a {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-decoration: none;
}

p {
    color: #fff;
}

html {
    background-color: #000;
}

/*--------------------- HEADER ---------------------*/

header {
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: #000;
}

.upper-header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem;
    background-color: #000;
    z-index: 999;
}

#down-header {
    display: none;
    position: fixed;
    width: 100%;
    padding: 2rem 0 0 0;
    height: 200vw;
    background-color: #000;
}

/*nav bar*/

nav ul li {
    margin: 2rem 0;
    text-align: center;
}

.menu-btn {
    font-size: 2rem;
    margin: 1rem auto 0.5rem;
}

/*language selector*/

.container-lang {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    justify-content: center;
}

.container-lang p {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
}

.lang-selector {
    appearance: none;
    position: relative;
    height: 13px;
    width: 40px;
    margin: 3px 8px;
    background-color: var(--grey);
    border: 2px solid var(--violet);
    border-radius: 45px;
}

.lang-selector:checked {
    background-color: var(--blue);
}

.lang-selector::before {
    content: '';
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 45px;
    transform: translateY(-3px);
}

.lang-selector:checked::before {
    left: 57%;
    transform: translateY(-3px);
}
/*end language selector*/

.social-media {
    display: flex;
    margin: 1.5rem 0.5rem;
    justify-content: space-evenly;
}

.social-media-up {
    display: none;
}

.icon {
    height: 80px;
    width: 80px;
}

/*--------------------- PROJECTS ---------------------*/

.one {
    grid-row: 1;
    background-color: #fff; 
}

.two {
    grid-row: 2;
    background-color: pink;
}

.three {
    grid-row: 3;
    background-color: blue
}

.four {
    grid-row: 4;
    background-color: aqua;
}

.five {
    grid-row: 5;
    background-color: red;
}

.six {
    grid-row: 6;
    background-color: yellow;
}

/*--------------------- INTRO ---------------------*/

.intro-body {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    background: none;
    overflow: hidden;
}

.intro-header {
    opacity: 0;
    background: none;
    animation: fadeIn 1000ms;
    animation-delay: 3000ms;
    animation-fill-mode: forwards;
    transition: ease-out;
}

.fix-main {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.intro-container {
    margin: 4rem 0 0 0;
}

.big-tittle {
    opacity: 0;
    animation: fadeIn 1900ms;
    animation-delay: 60ms;
    animation-fill-mode: forwards;
    transition: ease-out;
}

.subtittle {
    opacity: 0;
    font-size: 1rem;
    animation: fadeIn 1000ms;
    animation-delay: 700ms;
    animation-fill-mode: forwards;
    transition: ease-out;
}

.container-enter-btn {
    opacity: 0;
    display: flex;
    position: relative;
    margin: 3rem auto 1rem auto;
    justify-content: center;
    animation: fadeIn 1000ms;
    animation-delay: 3000ms;
    animation-fill-mode: forwards;
    transition: ease-out;
}

.enter-btn {
    padding: 0.5rem 1rem;
    margin: 2rem 0 0 0;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 45px;
    letter-spacing: 5px;
    background-color: #000;
}

#bg-video {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 576px;
    object-fit: fill;
    z-index: -1;
    animation: fadeIn 2500ms;
    animation-delay: 1500ms;
    animation-fill-mode: forwards;
    transition: ease-out;
}
/*--------------------- PROJECTS ---------------------*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    height: 300px;
    grid-column: 1/4;
}


/*--------------------- CONTACT ---------------------*/

.contact-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

fieldset {
    margin: 1rem auto 0.5rem auto;
    padding: 2rem;
    width: 80%;
    border-radius: 35px;
}

label {
    display: block;
    font-family: 'Orbitron', sans-serif;
    margin: 0.5rem 0;
    color: #fff;
}

input {
    width: 300px;
    height: 35px;
}

textarea {
    width: 300px;
}

.submit-btn {
    display: block;
    margin: 1rem auto 0.5rem auto;
    padding: 0.5rem 1rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    border-radius: 45px;

}

.contact-footer {
    position: absolute;
    bottom: 2%;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    background: none;
}

/*--------------------- ANIMATION ---------------------*/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*--------------------- MEDIA QUERIES---------------------*/

@media screen and (min-width: 768px) {
    
    /*INTRO*/
    .big-tittle {
        font-size: 4rem;
        letter-spacing: 0.5rem;
    }

    .subtittle {
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

    /*CONTACT*/
    .tittle {
        font-size: 3rem;
        letter-spacing: 0.5rem;
        margin-top: 10rem;
        margin-bottom: 3rem;
    }

    input, textarea {
        width: 400px;
    }

    /*MENU*/

    .upper-header {
        display: flex;
        height: 80px;
        justify-content: space-between;
    }

    .social-media {
        display: none;
    }

    .social-media-up {
        display: flex;
    }

    .icon {
        height: 50px;
        width: 50px;
    }

    #down-header {
        top: 7%;
        height: 165px;
    }

    .container-lang {
        margin: 2rem 0 1rem 0;
    }

    nav ul{
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li {
        margin: 0;
    }

    .menu-btn {
        font-size: 2rem;
    }

}

@media screen and (min-width: 1024px) {
    .big-tittle {
        font-size: 5rem;
        letter-spacing: 1rem;
    }

    .contact-main {
        height: auto;
    }

    .tittle {
        margin-top: 15rem;
        font-size: 4.5rem;
        letter-spacing: 1rem;
    }

    .contact-footer {
        position: relative;
    }
}

@media screen and (min-width: 1280px) {
    .big-tittle {
        font-size: 6.5rem;
        letter-spacing: 1rem;
    }
}
