* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #3366ffff;
    --grey: #4d4d44;
    --violet: #c61aff;
}

html {
    background-color: #000;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    text-align: center;
}

a {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.3rem;
    color: #fff;
    text-decoration: none;
}

label {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.3rem;
    color: #fff;
    text-align: center;
}

p {
    color: #fff;
}

header {
    opacity: 0;
    display: fixed;
    position: absolute;
    width: 100%;
    flex-direction: column;
    z-index: 999;
    animation: fadeIn 1000ms;
    animation-delay: 3000ms;
    animation-fill-mode: forwards;
    transition: ease-out;
}

/* HOME */


body {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    background: none;
    overflow: hidden;
}

/* HOME --- menu */

.upper-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #000;
}

.container-menu-btn {
    margin: 1rem;
}

.checkbox {
    display: none;
}

.menu-btn {
    padding: 0.2rem 0.5rem;
    border: 2px solid #fff;
    border-radius: 45px;
    z-index: 999;
}

.social-media {
    display: flex;
    margin: 0 0.6rem;
    justify-content: space-around;
}

.icon {
    height: 40px;
    width: 40px;
}

.low-header {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    background-color: #000;
    transform: scale(1, 0);
}

/*language selector*/

.container-lang {
    display: flex;
    margin: 1rem;
}

.container-lang p {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
}

.lang-selector {
    appearance: none;
    position: relative;
    height: 13px;
    width: 40px;
    margin: 3px 8px;
    background-color: var(--grey);
    border: 2px solid var(--violet);
    border-radius: 45px;
}

.lang-selector:checked {
    background-color: var(--blue);
}

.lang-selector::before {
    content: '';
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 45px;
    transform: translateY(-3px);
}

.lang-selector:checked::before {
    left: 57%;
    transform: translateY(-3px);
}
/* end */


/* nav */

nav ul li {
    display: inline-block;
    margin: 1rem 4rem;
}

/* end menu*/

main {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.big-tittle {
    opacity: 0;
    font-size: 5rem;
    letter-spacing: 1rem;
    animation: fadeIn 1900ms;
    animation-delay: 60ms;
    animation-fill-mode: forwards;
    transition: ease-out;
}

.subtittle {
    opacity: 0;
    letter-spacing: 1rem;
    word-spacing: 1rem;
    animation: fadeIn 1000ms;
    animation-delay: 700ms;
    animation-fill-mode: forwards;
    transition: ease-out;
}

.bg-video {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: fill;
    z-index: -1;
    animation: fadeIn 2500ms;
    animation-delay: 1500ms;
    animation-fill-mode: forwards;
    transition: ease-out;
}

/* animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* end home*/