/* HOME */


body {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    background: none;
    overflow: hidden;
}


/* end menu*/

main {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}