@use 'vars';
@use 'vars';
.intro-body {
  position: fixed;
  background-color: #000;
  overflow: hidden;
}

.intro-body .intro-header {
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease-out;
  transition: ease-out;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
  background: none;
}

.intro-body .intro-header .container-lang-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-body .intro-header .container-lang-intro span {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #fff;
}

.intro-body .fix-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.intro-body .fix-main .intro-container {
  margin: auto;
}

.intro-body .fix-main .intro-container .big-title {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  text-align: center;
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1900ms;
          animation-duration: 1900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease-out;
  transition: ease-out;
  -webkit-animation-delay: 60ms;
          animation-delay: 60ms;
}

.intro-body .fix-main .intro-container #subtitle {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  text-align: center;
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease-out;
  transition: ease-out;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.intro-body .fix-main .intro-container .container-enter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 3rem auto 1rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease-out;
  transition: ease-out;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

.intro-body .fix-main .intro-container .container-enter-btn #enter-btn {
  margin: 2rem 0 0 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  letter-spacing: 5px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 15px;
  background-color: #000;
}

.intro-body #bg-video {
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 576px;
  -o-object-fit: fill;
     object-fit: fill;
  z-index: -1;
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease-out;
  transition: ease-out;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

/***** GENERAL *****/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html {
  min-height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-body {
  background: repeating-linear-gradient(135deg, #242423 20%, #000 40%, #242423 20%);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  /*language selector*/
  /*menu*/
}

header .container-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container-lang span {
  font-size: 13px;
  margin: 0;
  color: #fff;
}

header .lang-selector {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  height: 13px;
  width: 40px;
  margin: 3px 8px;
  background-color: #242423;
  border: 2px solid #ff1aff;
  border-radius: 45px;
}

header .lang-selector:checked {
  background-color: #4a77ff;
}

header .lang-selector:before {
  content: '';
  display: block;
  position: absolute;
  height: 11px;
  width: 12px;
  background-color: #fff;
  border-radius: 45px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

header .lang-selector:checked::before {
  left: 67%;
}

header nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul li {
  margin: 0 auto;
}

header nav .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 1rem auto;
  width: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header li {
  list-style: none;
}

header #bdNavbar {
  background-color: rgba(0, 0, 0, 0.7);
}

.pages-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-animation {
  opacity: 0;
  -webkit-animation-name: showingTitle;
          animation-name: showingTitle;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease;
  transition: ease;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

footer p {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.container-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 1rem auto;
  padding: 0.5rem 0;
}

.container-txt p {
  margin: 0 auto;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  margin: 2rem auto;
  width: 80%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-container .grid-item, .grid-container .one, .grid-container .two, .grid-container .three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  opacity: 0;
  -webkit-animation-name: showing;
          animation-name: showing;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease;
  transition: ease;
}

.grid-container .one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.grid-container .two {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.grid-container .three {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.card-container {
  max-width: 400px;
  height: 450px;
  margin: 1rem auto;
  padding: 3px;
  border-radius: 10px;
  -webkit-box-shadow: -7px 7px 10px #000;
          box-shadow: -7px 7px 10px #000;
  background: linear-gradient(35deg, #4a77ff, #ff1aff);
  opacity: 0.7;
}

.card-container picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}

.card-container picture img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-container .container-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 84px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-container .container-link ul li {
  color: #fff;
  list-style: none;
}

.card-container:hover {
  opacity: 1;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: -7px 14px 10px #000;
          box-shadow: -7px 14px 10px #000;
}

.title {
  margin: 0 auto 1rem auto;
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

a {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.more-btn {
  margin: 3rem auto;
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  border-radius: 25px;
}

.about-btn {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

p {
  color: #fff;
}

/***** HOME *****/
/***** CONTACT *****/
.contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact-main fieldset {
  margin: 1rem auto 0.5rem auto;
  padding: 2rem;
  width: 80%;
  border-radius: 10px;
  -webkit-box-shadow: -7px 7px 10px #000;
          box-shadow: -7px 7px 10px #000;
  background-color: rgba(74, 100, 255, 0.5);
  opacity: 0;
  -webkit-animation-name: showing;
          animation-name: showing;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: ease;
  transition: ease;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.contact-main fieldset label {
  display: block;
  margin: 0.5rem 0;
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.contact-main fieldset input {
  height: 30px;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #fff;
  border-left: none;
  color: #fff;
  background: transparent;
}

.contact-main fieldset input:focus {
  outline: none;
}

.contact-main fieldset .input-row {
  width: 100%;
}

.contact-main fieldset #subject {
  width: 100%;
}

.contact-main fieldset textarea {
  width: 100%;
  height: 100px;
  background: transparent;
  border: 2px solid #fff;
}

.contact-main fieldset textarea:focus {
  outline: none;
  background: #fff;
}

.contact-main fieldset .submit-btn {
  display: block;
  margin: 1rem auto 0.5rem auto;
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  padding: 0.5rem 1rem;
  letter-spacing: 5px;
  border: 2px solid #fff;
  border-radius: 15px;
  background: none;
}

/***** ANIMATION *****/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes showing {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 8%);
            transform: translate(0, 8%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes showing {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 8%);
            transform: translate(0, 8%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes showingTitle {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes showingTitle {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

/***** MEDIA QUERIES *****/
@media screen and (min-width: 768px) {
  header .container-lang-intro {
    margin: 2rem 0 1rem 0;
  }
  header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav ul li {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .about-btn {
    margin-bottom: 0;
  }
  /*INTRO*/
  .intro-body .fix-main .intro-container .big-title {
    font-size: 3.5em;
    letter-spacing: 0.5rem;
  }
  .intro-body .fix-main .intro-container #subtitle {
    font-size: 1.6rem;
    letter-spacing: 0.5rem;
  }
  /*General*/
  .title {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
  }
  .container-txt {
    margin: 0.5rem auto;
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  header {
    display: inline-block;
    background: transparent;
  }
  header #bdNavbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  header nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul {
    margin-top: 0.5rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav .socials {
    margin: auto;
  }
  header .container-lang {
    margin: 0 1rem 0 0;
    width: auto;
  }
  header .container-lang .language-one {
    position: relative;
    top: 1px;
    right: -53px;
  }
  header .container-lang .language-two {
    position: relative;
    top: 20px;
  }
  header .container-lang .lang-selector {
    width: 13px;
    height: 35px;
  }
  header .container-lang .lang-selector:before {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }
  header .container-lang .lang-selector:checked::before {
    top: 67%;
    -webkit-transform: translate(-7px, 0);
            transform: translate(-7px, 0);
  }
}

@media screen and (min-width: 1024px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav ul li a {
    font-size: 24px;
  }
  header nav li:last-child {
    margin-right: 0;
  }
  header nav .socials {
    margin-top: 0;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: 0;
  }
  .intro-body .fix-main .intro-container .big-title {
    font-size: 4.3rem;
    letter-spacing: 1rem;
  }
  .intro-body .fix-main .intro-container #subtitle {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  .pages-main {
    margin-top: 7rem;
  }
  .grid-container {
    row-gap: 32px;
  }
  .grid-container .one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .grid-container .two {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .grid-container .three {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
  .contact-main {
    height: auto;
  }
  .contact-main .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-main .form-group .container-input {
    width: 46%;
  }
  .title {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}

@media screen and (min-width: 1280px) {
  .intro-body .fix-main .intro-container .big-title {
    font-size: 5.5rem;
    letter-spacing: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */