@mixin breakpointOne {

    .title {
        font-size: 5rem;
    }

    .container-title {
        width: 350px;
        height: 350px;
    }

    #intro-title {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    #subtitle {
        font-size: 1.3rem;
    }
}

@mixin breakpointTwo {

    .title {
        font-size: 6.5rem;
    }

    .container-lang-intro {
        opacity: 0;
        animation: fadeIn 1200ms forwards;
        animation-delay: 1800ms;
    }
    
    .container-title {
        width: 450px;
        height: 450px;
        opacity: 0;
        box-shadow: none;
        animation: fadeInShadow 1100ms forwards;
        animation-delay: 40ms;
    }

    #intro-title {
        font-size: 6rem;
        line-height: 6rem;
        opacity: 0;
        text-shadow: none;
        animation: fadeInText 900ms forwards;
        animation-delay: 900ms;
    }

    #subtitle {
        transform: scaleX(0);
        animation: grow 1000ms forwards;
        animation-delay: 1300ms;
    }

    #enter-btn {
        top: 0;
        opacity: 0;
        box-shadow: none;
        animation: fadeInShadow 1200ms forwards;
        animation-delay: 1800ms;
    }

    .container-txt {
        padding: 2.5rem;
    }
}


@mixin breakpointThree {

    header {
        display: flex;
    }

    #bdNavbar {
        flex-direction: row-reverse;
    }

    nav {
        flex-direction: row;

        ul {
            margin-bottom: 0;

            li {

                a{
                    font-size: 24px;
                }
            }

            li:last-child {
                margin-right: 0;
            }
        }
    }

    .socials {
        margin-top: 0;
        margin-right: 1rem;
        margin-bottom: 0;
        margin-left: 0;
        align-items: center;
    }

    .container-lang {
        width: auto;
    }

    #page-container-lng {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 0.4rem;
        padding-left: 0.4rem;
    }

    .grid-container {
        row-gap: 32px;
        
        
        #item1 {
            grid-column: 1 / 2;
        }
        
        #item2 {
            grid-column: 2 / 3;
        }
        
        #item3 {
            grid-column: 3 / 4; 
        }
    }

    .form-group {
        display: flex;
        margin-bottom: 2rem;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        .container-input {
            width: 46%;
        }
    }
    
    .container-txt {
        padding-top: 4rem;
        padding-right: 3.2rem;
        padding-bottom: 4rem;
        padding-left: 3.2rem;

    }

    .description {
        padding: 3rem;
    }

    .grid-about-container {
        grid-template-columns: repeat(4, 1fr);

        .section-title {
            grid-column: 1 / 5;
        }

        .item1 {
            grid-column: 1/ 2;
            grid-row: 2;
        }

        .item2 {
            grid-column: 2 / 3;
            grid-row: 2;
        }

        .item3 {
            grid-column: 3 / 4;
            grid-row: 2;
        }

        .item4 {
            grid-column: 4 / 5 ;
            grid-row: 2;
        }
    }
}


@keyframes fadeIn {
    0% { 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInShadow {
    0% { 
        opacity: 0;
        box-shadow: none;
    }
    100% {
        opacity: 1;
        box-shadow: -2px 3px 1px #000;
    }
}

@keyframes fadeInText {
    0% { 
        opacity: 0;
        box-shadow: none;
    }
    100% {
        opacity: 1;
        text-shadow: -2px 3px 1px #000;
    }
}

@keyframes grow {
    0% {transform: scaleX(0);}
    100% {transform: scaleX(1);}
}