@import 'vars';


@mixin tablet {

    header {
    
        .container-lang-intro {
            margin: 2rem 0 $S1 0;
        }
    
        nav ul{
            display: flex;
            justify-content: space-evenly;
    
            li {
                margin: 0;
            }
        }  
    }
        
    /*INTRO*/
    
    .intro-body {
    
        .fix-main {
    
            .intro-container {
    
                .big-tittle {
                    font-size: 3.5em;
                    letter-spacing: 0.5rem;
                }

                #subtittle {
                    font-size: 1.6rem;
                    letter-spacing: 0.5rem;
                }
            } 
        }
    }
    
    /*General*/
    .tittle {
        font-size: 3rem;
        letter-spacing: 0.5rem;
        margin-top: 10rem;
        margin-bottom: 3rem;
    }
    
    /*.contact-footer {
        position: relative;
        margin-top: 2rem;
        margin-bottom: $half;
    }*/
}

@mixin desktop {

    .intro-body {

        .fix-main {

            .intro-container {

                .big-tittle {
                    font-size: 4.3rem;
                    letter-spacing: 1rem;
                }

                #subtittle {
                    font-size: 2rem;
                    letter-spacing: 0.5rem;
                }
            }
 
        }
    }

    .contact-main {
        height: auto;

        .form-group {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;

            .container-input {
                width: 46%;
            }
        }
    }

    .tittle {
        margin-top: 15rem;
        font-size: 4.5rem;
        letter-spacing: 1rem;
    }

    .contact-footer {
        position: relative;
        margin-top: 4rem;
        margin-bottom: $S1;
    }
}

@mixin fullscreen {

    .intro-body {

        .fix-main {

            .intro-container {
             
                .big-tittle {
                    font-size: 5.5rem;
                    letter-spacing: 1rem;
                }
            }
    
        }
    }
}

