@use'vars';

@mixin brd ($radius) {
    border: 2px solid $w;
    border-radius: $radius;
}

@mixin font {
    font-family: $font-primary;
    text-decoration: none;
    color: $w;
}

@mixin anim ($time) {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: $time;
    animation-fill-mode: forwards;
    transition: ease-out;
}

