.grid-container {
    display: grid;
    margin: 2rem auto;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
    justify-content: center;
}

.item {
    display: flex;
    margin: 0 auto;
    padding: 0.5rem;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}

#item1 {
    grid-column: 1 / 4;
}

#item2 {
    grid-column: 1 / 4;
}

#item3 {
    grid-column: 1 / 4;
}

.card-container {
    margin: 0 auto;
    padding: 0 5px;
    height: 300px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: -2px 2px 2px #000;

    picture {
        display: flex;
        margin-top: 12px;
        min-width: 100%;
        max-height: 76%;
        overflow: hidden;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        img {
            display: flex;
            max-width: 100%;
            object-position: top;
            object-fit: cover;
        }
    }


    ul {
        display: flex;
        padding: 0.5rem;
        justify-content: space-around;

        li {
            list-style: none;

            a {
                font-weight: 800;
            }
        }
    }
}