@import 'vars';
@import 'mixin';
@import 'media';



/***** GENERAL *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    height: auto;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: $g;
}

header {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 999;
    background-color: $b;

    .container-lang {
        display: flex;
        margin: $half 0 0;
        width: 100%;
        justify-content: center;

        p {
            font-size: 13px;
            margin: 0;
        }
    }

    .socials {
        display: flex;
    }

    /*language selector*/

    p {
        @include font;
        font-size: 1em;
    }

    .lang-selector {
        appearance: none;
        position: relative;
        height: 13px;
        width: 40px;
        margin: 3px 8px;
        background-color: $g;
        border: 2px solid $p;
        border-radius: 45px;

        &:checked {
            background-color: $blue;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 11px;
            width: 12px;
            background-color: #fff;
            border-radius: 45px;
            transform: translateY(-1px);
        }

        &:checked::before {
            left: 67%;
        }
    }

    /*menu*/

    li {
        list-style: none;
    }
    
    #bdNavbar {
        background-color: $b;
    }
}

footer {
    margin-top: 2rem;
    margin-bottom: $S1;

    
    p {
        @include font;
        font-size: 1em;
        text-align: center;
    }
}

.grid-container {
    display: grid;
    margin: 2rem auto;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;

    .grid-item {
        display:flex;
        flex-direction: column;
        height: 300px;
        padding: $S1;
        grid-column: 1/4;
        @include brd (25px);
    }

    .project-1 {
        @extend .grid-item;
        grid-row: 1;
    }

    .project-2 {
        @extend .grid-item;
        grid-row: 2;
    }

    .project-3 {
        @extend .grid-item;
        grid-row: 3;
    }
}


.card-container {
    @include brd(15px);
    width: 85%;
    height: 450px;
    padding: 0 $S1;

    picture {
        display: flex;
        margin-top: 16px;
        width: 100%;
        height: 350px;
        overflow: hidden;
        border-radius: 15px;

        img {
            display: flex;
            width: 100%;
            object-position:top;
            object-fit: cover;
        }
    }

    .container-link {
        display: flex;
        width: 100%;
        height: 84px;
        align-items: center;
        justify-content: center;

        ul {
            li {
                color: $w;
                list-style: none;
            }
        }
    }
}




.tittle {
    margin: 5rem auto $S1 auto;
    @include font;
    font-size: 2em;
    text-align: center;
}

a {
    @include font;
    font-size: 1em;
}

.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.more-btn {
    margin: 3rem auto;
    padding: $half $S1;
    @include brd(25px);
}

p {
    color: $w;
}


/***** INTRO *****/

.intro-body {
    position: fixed;
    background-color: $b;
    overflow: hidden;

    .intro-header {
        @include anim (1000ms);
        animation-delay: 3000ms;
        background: none;

        
        .container-lang-intro {
            display: flex;
            margin: $S1 0;
            width: 100%;
            justify-content: center;  
        }
    }

    .fix-main {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    
        .intro-container {
            margin: 4rem 0 0;
    
            .big-tittle {
                @include font;
                font-size: 2em;
                text-align: center;
                @include anim (1900ms);
                animation-delay: 60ms;
            }
    
            #subtittle {
                @include font;
                font-size: 1em;
                text-align: center;
                @include anim (1000ms);
                animation-delay: 700ms;
            }
            
            
            .container-enter-btn {
                display:flex;
                position: relative;
                margin: 3rem auto $S1 auto;
                justify-content: center;
                @include anim(1000ms);
                animation-delay: 3000ms;
    
                #enter-btn {
                    margin: 2rem 0 0 0;
                    padding: $half $S1;
                    font-size: 1.2rem;
                    letter-spacing: 5px;
                    text-align: center;
                    @include brd($radius: 15px);
                    background-color: $b;
                }
            }
        }
    }

    #bg-video {
        position: absolute;
        height: 100%;
        width: 100%;
        min-width: 576px;
        object-fit: fill;
        z-index: -1;
        @include anim(2500ms);
        animation-delay: 1500ms;
    }
}



/***** PROJECTS *****/



/***** CONTACT *****/

.contact-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    fieldset {
        margin: $S1 auto $half auto;
        padding: 2rem;
        width: 80%;
        @include brd(15px);

        label {
            display: block;
            margin: $half 0;
            @include font;
            font-size: 1em;
        }

        input {
            height: 30px;
        }

        .input-row {
            width: 100%;
        }

        #subject {
            width: 100%;
        }

        textarea {
            width:100%;
            height: 100px;
        }

        .submit-btn {
            display: block;
            margin: $S1 auto $half auto;
            @include font;
            font-size:  1em;
            padding: $half $S1;
            letter-spacing: 5px;
            @include brd(15px);
            background: none;
        }
    }
}

.contact-footer {
    position: absolute;
    bottom: 2%;
    margin: $S1 0;
    width: 100%;
    background: none;
}



/***** ANIMATION *****/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/***** MEDIA QUERIES *****/

@media screen and (min-width: $md){
    @include tablet;
}

@media screen and (min-width: $lg){
    @include desktop;
}

@media screen and (min-width: $xl){
    @include fullscreen;
}
