@import 'vars';
@import 'mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/***** GENERAL *****/

body {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: $g;
}

header {
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: $b;

    .upper-header {
        position: fixed;
        z-index: 999;
        width: 100%;
        top: 0;
        padding: $S1;
        background-color: $b;

        .social-media-up {
            display: none;
        }
    }

    #down-header {
        display: none;
        position: fixed;
        top: 7%;
        width: 100%;
        padding: 2rem 0 0 0;
        height: 200vw;
        background-color: $b;

        .social-media {
            display: flex;
            margin: 1.5rem $half;
            justify-content: space-evenly;
        }

    }

    .container-lang {
        display: flex;
        margin: $S1 0;
        width: 100%;
        justify-content: center;

        p {
            @include font (1em);
        }

        .lang-selector {
            appearance: none;
            position: relative;
            height: 13px;
            width: 40px;
            margin: 3px 8px;
            background-color: $g;
            border: 2px solid $p;
            border-radius: 45px;

            &:checked {
                background-color: $blue;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                height: 11px;
                width: 12px;
                background-color: #fff;
                border-radius: 45px;
                transform: translateY(-1px);
            }

            &:checked::before {
                left: 67%;
            }
        }
    }
}

.tittle {
    margin: 5rem auto $S1 auto;
    @include font(2em);
    text-align: center;
}



/***** INTRO *****/

.intro-body {
    position: fixed;
    background-color: $b;
    overflow: hidden;

    .intro-header {
        @include anim (1000ms);
        animation-delay: 3000ms;
        background: none;
    }

    .fix-main {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    
        .intro-container {
            margin: 4rem 0 0;
    
            .big-tittle {
                @include font(2em);
                text-align: center;
                @include anim (1900ms);
                animation-delay: 60ms;
            }
    
            .subtittle {
                @include font (1em);
                text-align: center;
                @include anim (1000ms);
                animation-delay: 700ms;
            }
            
            
            .container-enter-btn {
                display:flex;
                position: relative;
                margin: 3rem auto $S1 auto;
                justify-content: center;
                @include anim(1000ms);
                animation-delay: 3000ms;
    
                .enter-btn {
                    margin: 2rem 0 0 0;
                    padding: $half $S1;
                    @include font(1.2rem);
                    letter-spacing: 5px;
                    text-align: center;
                    @include brd($radius: 45px);
                background-color: $b;
                }
            }
        }
    }

    #bg-video {
        position: absolute;
        height: 100%;
        width: 100%;
        min-width: 576px;
        object-fit: fill;
        z-index: -1;
        @include anim(2500ms);
        animation-delay: 1500ms;
    }
}

/***** CONTACT *****/

.contact-main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

fieldset {
    margin: $S1 auto $half auto;
    padding: 2rem;
    width: 80%;
    @include brd(25px);
}

label {
    display: block;
    margin: $half 0;
    @include font(1em);
}

.submit-btn {
    display: block;
    margin: $S1 auto $half auto;
    padding: $half $S1;
    @include font(1em);
    letter-spacing: 5px;
    @include brd(45px);
    background: none;
}



/***** ANIMATION *****/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}